body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    height: 100vh;
    background-image: url('../images/background.jpeg');
    background-size: cover no-repeat;
}

::placeholder{
    color: black;
    opacity: 0.7;
}
i{
    font-size: 40px;
    padding-right: 20px;
}
form{
    text-align: center;
    padding-top: 50px;
}
input[type="text"]{
    height: 30px;
    border: none;
    outline: 0;
    font-size: 15px;
    background: none;
}

button{
    border: none;
    background: none;
}

.main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.weather-info-description{
    font-size: 50px;
    padding-bottom: 5px;
}

.weather-info-city{
    font-size: 25px;
    padding-bottom: 15px;
}

.weather-info-date{
    font-size: 20px;
    padding: bottom 0px;;
}

.weather-info-time{
    font-size: 20px;
    padding-bottom: 15px;
}

.weather-info-temperature{
    padding-bottom: 15px;
    font-size: 35px;
}

.weather-details{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.weather-details-info{
    text-align: left;
}

.weather-details-label{
    width: 150px;
    font-size: 12px;
}

.weather-details-data{
    font-size: 30px;
}

.forecast{
    padding-top: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.forecast-daily-day{
    font-size: 20px;
    text-align: center;
}
.forecast-daily-temperature{
    font-size: 30px;
    text-align: center;
}

@media (max-width :400px){
    body{
        background-size: cover;
        margin: auto;
    }
    form{
        max-width: 250px;
        margin: auto;
    }
    .main{
        max-width: 250px;
        justify-content: space-around;
    }
    .weather-details-container{
        width: 130px;
    }
}

@media (max-width :600px){
    body{
        background-size: cover;
        margin: auto;
    }
    form{
        max-width: 300px;
        margin: auto;
    }
    .main{
        max-width: 500px;
        justify-content: space-around;
        
    }
    i{
        font-size: 20px;
    }

    .weather-info-description{
        font-size: 25px;
        padding-bottom: 5px;
    }

    .weather-info-city{
        font-size: 15px;
        padding-bottom: 15px;
    }

    .weather-info-date{
        font-size: 10px;
        padding: bottom 0px;;
    }

    .weather-info-time{
        font-size: 10px;
        padding-bottom: 15px;
    }
    
    .weather-info-temperature{
        padding-bottom: 15px;
        font-size: 18px;
    }

    .weather-details-label{
        width: 150px;
        font-size: 6px;
    }

    .weather-details-data{
        font-size: 15px;
    }

    .forecast-daily-day{
        font-size: 10px;
        text-align: center;
    }

    .forecast-daily-temperature{
        font-size: 15px;
        text-align: center;
    }
    
}